*{
    margin:0;
    padding:0;
}
body{
    background-color: #161b1d;
    height:1000px;
}
header{
    width:100%;
    height:70px;
    border-bottom: 4px solid;
    border-bottom-color: #AA95DA;
    background:#161b1d;
    line-height:70px;
    font-size: 25px;
    margin-bottom: 50px;
    float: left;
    .img{
        margin-left: 5%;
        float: left;
        cursor: pointer;
        height: 70px;
    }

    & nav a {
        text-decoration: none;
        color: inherit;
    }
    & nav li {
        list-style-type: none;
        text-decoration: none;
        text-align: center;
        height: 70px;
        width: 140px;
        background-color: #AA95DA;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 5%;
        float: left;
    }
}
main{
    width: 85%;
    margin-left: 5%;
    margin-top: 50px;
    background: #161b1d;
    border: 4px solid #AA95DA;
    padding: 100px 2.5%; /* отступ внутри блока */
    float: left;
    position:relative;
    z-index: 0;
    .block1{
        width: 520px;
        height: 300px;
        background-color:#2b3438;
        float: left;
        margin-right: 20px;
        color: azure;
    }
    .block2{
        width: 520px;
        height: 300px;
        background-color:#2b3438;
        float: left;
        margin-right: 20px;
        color: azure;

    }
    .block3{
        width: 520px;
        height: 300px;
        background-color:#2b3438;
        float: left;
        color: azure;
    }
    .about_us{
        color: azure;
    }
    .about_us_center{
        text-align: center;
        color: azure;
    }
    .guarantee_center{
        text-align: center;
        color: azure;
    }
    .block4{
        width: 520px;
        height: 300px;
        background-color:#2b3438;
        float: left;
        margin-right: 20px;
        color: azure;
    }
    .block5{
        width: 520px;
        height: 300px;
        background-color:#2b3438;
        float: left;
        margin-right: 20px;
        color: azure;
    }
    .block6{
        width: 520px;
        height: 300px;
        background-color:#2b3438;
        float: left;
        color: azure;
    }
}

footer {
    width: 100%;
    height: 70px;
    border-top: 4px solid;
    border-top-color: #AA95DA;
    background: #161b1d;
    color: #fcbad3;
    margin-top: 50px;
    float: left;

    .img1 {
        margin-left: 5%;
        float: left;
        cursor: pointer;
        height: 70px;
    }

    .email {
        display: flex;
        align-items: center;
        float: right;
        margin-right: 100px;
        & a {
            color: inherit;
            font-size: 30px;
        }

        .img2 {
            cursor: pointer;
            margin-right: 10px;
            height: 70px;
        }
    }
}